
.main-title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.auto-grid {
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.spacer {
  height: 1rem;
}
