
.backDoor {
  background-color: palegreen;
  position: relative;
  width: 16rem;
  height: 200px;
  
  margin: 0 auto;
  margin-top: 50px;
}

.door {

  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16rem;
  height: 200px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;

  .eddie {
    position: absolute;
    left: 35%;
    top: 4em;
    width: 20%;
  }

  &:not(.not-current) {
    cursor: pointer;
    background-color: brown;
  }
  &.not-current {
    background-color: gray;
  }

  &.doorOpen {
    /*prespectiv creates the door open effect*/
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
  }

  .handle {
    position: absolute;
    top: calc(50% - 1rem);
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: gold;
  }
}

.card-title {
  text-align: center;
}

.card-content {
  box-sizing: border-box;
  z-index: 100;

  color: black;
  height: 100%;
  padding: 1em;
  position: relative;
  text-align: center;

  .title {
    font-weight: bold;
  }
  .type {
    margin-bottom: 1em;
  }
  .headshot {
    position: absolute;
    bottom: 0;
    right: 1em;
  }
}
